<div id="skills" class="conteimer shadow-lg p-3 mb-5 bg-body rounded opacity-100">
    <div class="row text-center">

        <span class="badge text-bg-light text-center"
            translate="no" style="width: 220px; height: 45px; font-size: 30px; margin-left: 35%;">Skills</span><br><br><br>
    </div>
    <div class="row">
        <div class="card mb-4 border-0 skill" style="width: 9rem;" >
            <a class="text-center">
                <img src="assets/javaicon.png" class="rounded float-start"
                    style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center" translate="no" style="">Java</h5>
            </div>
        </div>

        <div class="card mb-4 border-0 skill" style="width: 9rem;">
            <a class="text-center">
                <img src="assets/spring.png" class="rounded float-start"
                    style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center" translate="no" style="">Spring </h5>
            </div>
        </div>


        <div class="card mb-4 border-0 skill" style="width: 10rem;">
            <a class="text-center">
                <img src="assets/JS.png" class="rounded float-start"
                    style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
                <h5 class="card-title text-center" translate="no" style="">JavaScript</h5>
            </div>
        </div>


        <div class="card mb-4 border-0 skill" style="width: 9rem;">
            <a class="text-center">
                <img src="assets/mysql.png" class="rounded float-start"
                    style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center" translate="no" style="">MySql</h5>
            </div>
        </div>

        <div class="card mb-4 border-0 skill" style="width: 9rem;">
            <a class="text-center">
                <img src="assets/angular.png" class="rounded float-start"
                    style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center" translate="no" style="">Angular</h5>
            </div>
        </div>

        <div class="card mb-4 border-0 skill" style="width: 9rem;">
            <a class="text-center">
                <img src="assets/Jenkins.png" class="rounded float-start"
                    style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center" translate="no" style="">Jenkins</h5>
            </div>
        </div>

        <div class="row">
            <div class="card mb-4 border-0 skill" style="width: 9rem;">
                <a class="text-center">
                    <img src="assets/github.png" class="rounded float-start"
                        style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center" translate="no" style="">Github</h5>
                </div>
            </div>


            <div class="card mb-4 border-0 skill" style="width: 9rem;">
                <a class="text-center">
                    <img src="assets/html.png" class="rounded float-start"
                        style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center" translate="no" style="">HTML</h5>
                </div>
            </div>

            <div class="card mb-4 border-0 skill" style="width: 9rem;">
                <a class="text-center">
                    <img src="assets/kotlin.png" class="rounded float-start"
                        style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center" translate="no" style="">Kotlin</h5>
                </div>
            </div>

            <div class="card mb-4 border-0 skill" style="width: 9rem;">
                <a class="text-center">
                    <img src="assets/bootstrap.png" class="rounded float-start"
                        style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center" translate="no" style="">Bootstrap</h5>
                </div>
            </div>

            <div class="card mb-4 border-0 skill" style="width: 9rem;">
                <a class="text-center">
                    <img src="assets/spigot-og.png" class="rounded float-start"
                        style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center" translate="no" style="">Spigot</h5>
                </div>
            </div>
            <div class="card mb-4 border-0 skill" style="width: 9rem;">
                <a class="text-center">
                    <img src="assets/hibernate2.png" class="rounded float-start"
                        style="image-orientation: flip; margin: 10px; max-width: 50%;" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center" translate="no" style="">Hibernate</h5>
                </div>
            </div>


        </div>

        <br>